<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        >

<head th:include="templates/layout :: headerFragment">
</head>

<body>


<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
    <form th:action="@{/login}"  class="form-horizontal" method="post">
        <legend>Log in</legend>
        <div th:if="${loginError}" class="alert alert-error">Wrong user or password</div>

        <div class="control-group">
            <label class="control-label" for="username">Email</label>
            <div class="controls">
                <input type="text" id="username" name="username" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">

                <input type="password" id="password" name="password" /> <br />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit">Log in</button>
            </div>
        </div>

    </form>
</div>


<div th:include="templates/layout :: footerFragment">

</div>


</body>

</html>