<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="templates/layout :: headerFragment">
</head>

<body>

<div th:include="templates/layout :: menuFragment">
</div>
<div class="container">
  <div class="jumbotron">
      <div class="container">
          <h1>Hello, world!</h1>
          <p>Template </p>
          <p>
              <a class="btn btn-primary btn-lg" role="button">Learn more</a>
          </p>
      </div>
  </div>

</div>

<div th:include="templates/layout :: footerFragment">

</div>

</body>

</html>