<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MyOwnVenture :: I'm an entrepreneur</title>
    <link rel="stylesheet" href="../../../../assets/css/main.css" th:href="@{/assets/css/main.css}"/>

    <link rel="stylesheet" href="../../../../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}"/>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <style>
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }
    </style>

</head>

<body>
<div th:fragment="menuFragment">
<div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">MyOwnVenture</a>
                <img src="../../images/econtact_logo.png" alt="idea_logo logo" title="idea_logo logo"
                     th:src="@{/assets/img/idea/idea_logo.png}" />

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/pages/view/project/create}">Project create</a></li>
                                <li><a th:href="@{/pages/view/project/list}">Projects list</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My space <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/base/user/profile}">Profile</a></li>
                                <li><a th:href="@{/base/user/searchContact}">Search contacts</a></li>

                            </ul>
                        </li>
                       </ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
        </div>
</div>
 <div th:fragment="footerFragment">
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://code.jquery.com/jquery.js"></script>

     <script  src="../../../../assets/js/jquery.js" th:src="@{/assets/js/jquery.js}"></script>
<script  src="../../../../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script  src="../../../../assets/js/jquery-ui-1.10.3.custom.min.js" th:src="@{/assets/js/jquery-ui-1.10.3.custom.min.js}"></script>
     <script  src="../../../../assets/js/select2.min.js" th:src="@{/assets/js/select2.min.js}"></script>

 </div>
</body>

</html>