<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        >

<head th:include="impl/template/layout :: headerFragment">
</head>

<body>


<div th:include="impl/template/layout :: menuFragment">
</div>
<div class="container">

    <form action="#" th:action="@{/impl/project/create}" th:object="${project}" method="post" class="form-horizontal">
        <legend>New project</legend>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" th:field="*{name}" id="name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>

        <div class="controls">
            <input type="text" th:field="*{description}" id="description"/>
        </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit">Save</button>
                </div>
        </div>
    </form>
</div>
<div th:include="impl/template/layout :: footerFragment">

</div>


</body>

</html>